<%= simple_form_for @finance, html: { data: { controller: 'money', action: 'submit->money#formatMoney' } } do |f| %>
  <div class="form-inputs row">
    <%= f.input :description, label: 'Descrição', placeholder: "Descreva sua Entrada/Saída" %>
  <div class="col-6">
    <%= f.input :date, label: 'Data', placeholder: "Selecione a Data", as: :string, input_html: { type: "date" } %>
  </div>
    <div class="col-6">
      <%= f.input :category, collection: %w[Entrada Saída], prompt: "Selecione a categoria", label: 'Categoria' %>
    </div>
    <div class="col-6">
      <%= f.input :value, label: 'Valor (R$)', placeholder: "Digite o Valor", input_html: { type: 'text', data: { money_target: 'input', action: 'input->money#format' } } %>
    </div>
  </div>
  <div class="form-actions mt-4">
    <%= link_to 'Cancelar', finances_path, class: "btn btn2" %>
    <%= f.button :submit, "Salvar", class: "btn btn1" %>
  </div>
<% end %>

<%# placeholder: "Descreva sua Categoria"  %>
<%# above placeholder taken from line 8 because redundant %>
