<%#= link_to "Back", :back, class: "btn btn-primary" %>
<%#= link_to "Saídas", outflow_finances_path, class: "btn btn-primary" %>

<h1><strong>Suas Finanças</strong></h1>

<h2><strong>Saídas</strong></h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Descrição</th>
      <th scope="col">Valor (R$)</th>
    </tr>
  </thead>
  <% @outflows.each_with_index do |outflow, index| %>
    <tbody>
      <tr>
        <th scope="row"><%= index %></th>
        <td><%= outflow.date %></td>
        <td><%= outflow.description %></td>
        <td><%= outflow.value %></td>
        <%= link_to "Editar", edit_finance_path(outflow), class: "btn btn-primary" %>
        <%= link_to "Deletar", finance_path(outflow), class: "btn btn-primary", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this product?" } %>
      </tr>
    </tbody>
  <% end %>

</table>
