<div class="container">
  <div class="row justify-content-center mt-5 mb-5">
    <section class="col-12 col-sm-6 mt-5 mb-5">
      <div class="form-container">
        <img src="https://i.ibb.co/XtzYw1p/Control-4-removebg-preview.png"/>
          <h3 class="d-flex">Cadastre-se Gratuitamente</h3>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :first_name, label: "Nome", placeholder: 'Digite seu nome',
                            required: true,
                            autofocus: true %>
                <%= f.input :last_name, label: "Sobrenome", placeholder: 'Digite seu sobrenome',
                            required: true %>
                <%= f.input :phone_number, label: "Telefone", placeholder: 'Digite seu telefone',
                            required: true,
                            autofocus: true %>
                <%= f.input :email, label: "E-mail", placeholder: 'Digite seu e-mail',
                            required: true,
                            input_html: { autocomplete: "email" } %>
                <%= f.input :photo, label: "Foto",
                            required: false,
                            as: :file %>
                <%= f.input :password, label: "Senha", placeholder: 'Digite sua senha',
                            required: true,
                            hint: ("Digite no mínimo #{@minimum_password_length} caracteres e use pelo menos uma letra maiúscula, uma minúscula e um símbolo" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" } %>
                <%= f.input :password_confirmation, label: "Confirme sua senha", placeholder: 'Confirme sua senha',
                            required: true,
                            input_html: { autocomplete: "new-password" } %>
              </div>

              <div class="form-actions mt-4">
                <%= f.button :submit, "Cadastrar", class: "btn btn1" %>
              </div>
            <% end %>
            <div class="links">
              <%= render "devise/shared/links" %>
            </div>
      </div>
    </section>
  </div>
</div>
