<%= simple_form_for(@task) do |f| %>
  <div class="form-inputs">
    <div class="col-12">
      <%= f.input :content, label:"Descrição", placeholder: "Descreva sua tarefa" %>
    </div>
    <div class=" d-flex justify-content-between">
      <div class="col-5">
      <%= f.input :date, label:"Selecione a data", as: :string, input_html: { type: "date" } %>
      </div>
      <div class="col-5">
      <%= f.input :time, label:"Selecione a hora", as: :string, input_html: { type: "time" } %>
      </div>
    </div>
  </div>

  <div class="form-actions mt-4">
    <%= link_to 'Cancelar', tasks_path, class: "btn btn2" %>
    <%= f.button :submit, "Salvar", class: "btn btn1" %>
  </div>
<% end %>
