  <%= link_to dashboard_path, class: "text-icon mx-2" do %>
    <i class="fa-solid fa-arrow-left-long"></i>
  <% end %>

<div class="d-flex justify-content-center row w-100">

  <div class="col-12 col-md-6">
    <h1 class="text-task text-center"><strong>Tarefas</strong></h1>

    <div class="d-flex justify-content-center row w-100">
      <%= form_with url: tasks_path, method: :get, class: "d-flex col-6 mb-4" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control" %>
      <%= submit_tag "Search", class: "btn btn-form" %>
      <% end %>

    </div>
  </div>
</div>

  <div class="container">
    <table class="table table-striped table-hover">
      <thead class="thead mx-5">
        <tr>
          <th scope="col"></th>
          <th scope="col">Ordem</th>
          <th scope="col">Conteúdo</th>

        </tr>
      </thead>
      <% @tasks.each do |task| %>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td><%= task.order %></td>
            <td><%= task.content %></td>

            <td><%= link_to edit_task_path(task), class: "text-success" do %>
              <i class="fas fa-edit" id="logo-edit"></i>
            <% end %></td>
            <td><%= link_to task_path(task), class: "text-danger", data: {turbo_method: :delete, turbo_confirm: "Você quer mesmo deletar?"} do %>
              <i class="fas fa-trash-alt" id="logo-trash"></i>
            <% end %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>

  <div class="d-flex justify-content-center">
    <%= link_to "Nova tarefa", new_task_path, class: "btn btn1 mt-3 mb-3" %>
  </div>
