<div class="d-flex justify-content-center row w-100 mt-4">
  <div class="col-12 col-md-6 mt-4">
    <h1 class="text-center">Ver Tarefas</h1>

    <div class="d-flex justify-content-center row w-100">
      <%= form_with url: tasks_path, method: :get, class: "search-bar d-flex col-6 mb-4" do %>
        <%= text_field_tag :search,
          params[:search],
          class: "form-control",
          type: "search",
          name: "search",
          required: true %>
        <%= button_tag type: :submit, class: "search-btn" do %>
          <span>Search</span>
        <% end %>
      <% end %>
    </div>

  </div>
</div>


<div class="container">
  <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Descrição</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
        <tbody>
      <% @tasks.each do |task| %>
          <tr>
            <td><%= task.date.strftime "%d/%m/%Y" %></td>
            <td><%= task.content %></td>

            <td class="text-end"><%= link_to edit_task_path(task), class: "text-success" do %>

              <i class="fas fa-edit" id="logo-edit"></i>
            <% end %></td>
            <td><%= link_to task_path(task), class: "text-danger", data: {turbo_method: :delete, turbo_confirm: "Você quer mesmo deletar?"} do %>
              <i class="fas fa-trash-alt" id="logo-trash"></i>
            <% end %></td>
          </tr>
      <% end %>
        </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Nova Tarefa", new_task_path, class: "btn btn1 mt-3 mb-3" %>
  </div>
