<%= link_to "Voltar", dashboard_path %>

<div class="d-flex justify-content-center row w-100">

  <div class="col-12 col-md-6">
    <h1 class="text-task text-center"><strong>Tarefas</strong></h1>

    <div class="d-flex justify-content-center row w-100">
      <%= form_with url: tasks_path, method: :get, class: "d-flex col-6 mb-4" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control" %>
      <%= submit_tag "Search", class: "btn btn-form" %>
      <% end %>

    </div>




    <% @tasks.each do |task| %>
      <div class="d-flex justify-content-between task-card">
        <p class="m-0"><%= task.content %></p>
        <div class="d-flex">
          <%= link_to edit_task_path(task), class: "text-success mx-2" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to task_path(task), class: "text-danger mx-2", data: {turbo_method: :delete, turbo_confirm: "Você quer mesmo deletar?"} do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>

      </div>
    <% end %>




    <div class="d-flex justify-content-center">
      <%= link_to "Nova tarefa", new_task_path, class: "btn mt-3 mb-3 btn-form" %>
    </div>

  </div>
</div>




<%# cada tarefa com editar/excluir %>
