<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <a class="navbar-brand" href="">
      <img src="https://i.ibb.co/XtzYw1p/Control-4-removebg-preview.png"/>
    </a>
        <% if user_signed_in? %>
          <div class="navbar-sign-in">
            <%= link_to dashboard_path, class: "" do %>
              <p> <i class="fa-solid fa-house"></i>Home</p>
            <% end %>
            <%= link_to tasks_path, class: "" do %>
              <p> <i class="fa-solid fa-list-check"></i>Tarefas</p>
            <% end %>
            <%= link_to finances_path, class: "" do %>
              <p> <i class="fa-solid fa-brazilian-real-sign"></i>Finanças</p>
            <% end %>
            <%= link_to destroy_user_session_path, data: {turbo_method: :delete} do %>
              <p> <i class="fa-solid fa-solid fa-arrow-right-from-bracket"></i>Sair</p>
            <% end %>
          </div>
            
            <div class="nav-item dropdown">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Perfil</a>
              </div>
            </div>
          
        <% else %>
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <%= link_to "Entrar", new_user_session_path, class: "nav-link btn2" %>
            </li>
            <li class="nav-item">
              <%= link_to "Cadastre-se", new_user_registration_path, class: "nav-link btn btn1" %>
            </li>
          </ul>
        <% end %>
</div>
