<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%# <div class="container-fluid"> %>
  <!-- Navbar Logo -->
    <a class="navbar-brand" href="">
      <img src="https://i.ibb.co/XtzYw1p/Control-4-removebg-preview.png"/>
    </a>
    <div>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link link" %>
          <li class="nav-item active">
            <%= link_to "Finanças", root_path, class: "nav-link link" %>
          <li class="nav-item active">
            <%= link_to "Tarefas", root_path, class: "nav-link link" %>
          </li>
          <%= link_to "Log out", destroy_user_session_path, class: "nav-link link", data: {turbo_method: :delete} %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Entrar", new_user_session_path, class: "nav-link btn2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Cadastre-se", new_user_registration_path, class: "nav-link btn btn1" %>
          </li>
        <% end %>
      </ul>
    </div>
  <%# </div> %>
</div>




 <%# <li class="nav-item dropdown">
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <%# <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> %>

                  <%# <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %> 