<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/dashboard">
    <img src="https://i.ibb.co/XtzYw1p/Control-4-removebg-preview.png"/>
  </a>
  <% if user_signed_in? %>
    <div class="navbar-sign-in">
      <%= link_to dashboard_path, class: "nav-menu" do %>
        <i class="fa-solid fa-house"><span class="menu-font"> Home</span></i>
      <% end %>
      <%= link_to tasks_path, class: "nav-menu" do %>
        <i class="fa-solid fa-list-check"><span class="menu-font"> Tarefas</span></i>
      <% end %>
      <%= link_to finances_path, class: "nav-menu" do %>
        <i class="fa-solid fa-brazilian-real-sign"><span class="menu-font"> Finanças</span></i>
      <% end %>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-menu" do %>
        <i class="fa-solid fa-solid fa-arrow-right-from-bracket"><span class="menu-font"> Sair</span></i>
      <% end %>
    </div>
    <%= link_to edit_user_registration_path do %>
      <div class="nav-item">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill, class: "avatar" %>
        <% else  %>
          <i class="fa-solid fa-user-plus"></i>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Entrar", new_user_session_path, class: "nav-link btn2" %>
      </li>
      <li class="nav-item">
        <%= link_to "Cadastre-se", new_user_registration_path, class: "nav-link btn btn1" %>
      </li>
    </ul>
  <% end %>
</div>
