<div class="position-relative d-grid d-md-flex justify-content-center justify-content-md-between gap-2 navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/dashboard">
    <img src="https://i.ibb.co/XtzYw1p/Control-4-removebg-preview.png"/>
  </a>
  <%= link_to edit_user_registration_path, class: "d-block d-md-none position-absolute top-0 end-0 p-4" do %>
    <div class="nav-item">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill, class: "avatar" %>
      <% else  %>
        <i class="fa-solid fa-circle-user"></i>
      <% end %>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="navbar-sign-in">
      <div id="navbar-elements" class="navigation" data-controller="navbar">
        <ul>
          <li class="list <%= controller_name == 'pages' && action_name == 'dashboard' ? "active" : "" %>">
            <a href="<%= dashboard_path %>">
              <span class="icon">
                <i class="fa-solid fa-house"></i>
              </span>
              <span class="text">Home</span>
            </a>
          </li>
          <li class="list <%= controller_name == 'tasks' ? "active" : "" %>">
            <a href="<%= tasks_path %>">
              <span class="icon">
                <i class="fa-solid fa-list-check"></i>
              </span>
              <span class="text">Tarefas</span>
            </a>
          </li>
          <li class="list <%= controller_name == 'finances' ? "active" : "" %>" >
            <a href="<%= finances_path %>">
              <span class="icon">
                <i class="fa-solid fa-brazilian-real-sign"></i>
              </span>
              <span class="text">Finanças</span>
            </a>
          </li>
          <!-- <div class="indicator"></div> -->
        </ul>
      </div>
    </div>
    <div class="flex text-end ">
      <div class="d-none d-lg-block">
          <%= link_to  edit_user_registration_path, class: "nav-menu" do %>
            <span class="menu-font color-dark-green"><strong><%= "#{current_user.first_name} #{current_user.last_name}" %></strong></span>
          <% end %>
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-menu-avatar" do %>
            <i class="fa-solid fa-solid fa-arrow-right-from-bracket"><span class="menu-font-avatar"> Sair</span></i>
          <% end %>
      </div>
      
    </div>
  <% else %>
    <div class="d-block d-md-none">
      <%= link_to "Cadastre-se", new_user_registration_path, class: "nav-link btn1 btn-full" %>
  
      <%= link_to "Entrar", new_user_session_path, class: "nav-link btn2 btn-full" %>
    </div>
      <ul class="navbar-nav d-none d-md-flex">
        <li class="nav-item">
          <%= link_to "Entrar", new_user_session_path, class: "nav-link btn2" %>
        </li>
        <li class="nav-item">
          <%= link_to "Cadastre-se", new_user_registration_path, class: "nav-link btn btn1" %>
        </li>
      </ul>
  <% end %>
</div>
