
<tr class="<%= @task.completed ? "opacity-50" : "" %>" data-id="<%= @task.id %>">
    <td><%= @task.date.strftime "%d/%m/%y" %></td>
    <td><%= @task.time %></td>
    <td><%= @task.content %></td>      
    <td class="text-end">
    <a class="color-dark-green text-decoration-none"> Concluído? </a>
    <i data-id="<%= @task.id %>" data-action="click->drag#conclude" class="<%= @task.completed ? "far fa-check-square" : "far fa-square" %>" id="logo-checkbox"></i>
    <%= link_to edit_task_path(@task), class: "text-decoration-none mx-2" do %>
        <i class="fas fa-edit" id="logo-edit"></i>
    <% end %>
    <%= link_to task_path(@task), class: "text-danger mx-2", data: { turbo_method: :delete, turbo_confirm: "Você quer mesmo deletar?" } do %>
        <i class="fas fa-trash-alt" id="logo-trash"></i>
    <% end %>
    </td>
</tr>