<div class="flex-grow-1 row h-100 w-100 m-0">
  <div id="image-task" class="col-12 col-md-6">
    <div class="dashboard-button">
    <%= link_to "Tarefas", tasks_path, class: "btn-3 mt-3 mb-3" %>
    </div>
    <div class="dashboard-button-2">
    <%= link_to "Nova tarefa", new_task_path, class: "btn btn-4 mt-3 mb-3" %>
    </div>
  </div>
  <div id="image-finance" class="col-12 col-md-6">
    <div class="dashboard-button">
      <%= link_to "Ver Finanças", finances_path, class: "btn-3 mt-3 mb-3" %>
    </div>
    <div class="dashboard-button-2">
    <%= link_to "Nova Entrada", new_finance_path, class: "btn btn-4 mt-3 mb-3" %>
    <%= link_to "Nova Saída", new_finance_path, class: "btn btn-4 mt-3 mb-3" %>
    </div>
  </div>
</div>
