<div class="container">
  <div class="row justify-content-center mt-5">
    <section class="col-12 colsm-6 col-md-4 mt-5">
      <div class="form-container">
        <img src="https://i.ibb.co/XtzYw1p/Control-4-removebg-preview.png"/>
          <h3 class="d-flex">Acesse a sua conta</h3>
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
              <div class="form-inputs">
                <%= f.input :email, label: false, placeholder: 'Digite seu e-mail',
                            required: false, 
                            autofocus: true,
                            input_html: { autocomplete: "email" } %>
                <%= f.input :password, label: false, placeholder: 'Digite sua senha',
                            required: false,
                            input_html: { autocomplete: "current-password" } %>
                <%= f.input :remember_me, label: "Lembrar-me", as: :boolean if devise_mapping.rememberable? %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, "Entrar", class: "btn btn1" %>
              </div>
          <% end %>
            <div class="links">
              <%= render "devise/shared/links" %>
            </div>
      </div>
    </section>
  </div>
</div>
