<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon1.png') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
      <%= render "shared/navbar" %>
    <% end %>

    <% notice ? "<div class='notice notice-info'><strong>#{notice}</strong></div>".html_safe : '' %>
    <% alert ? "<div class='notice notice-danger'><strong>#{alert}</strong></div>".html_safe : '' %>

    <%= yield %>
    <% unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
